@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");
/* ========== BASE ========== */

body {
    background: #2d2c3e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    z-index: -1;
}

/* ========== LAYOUT ========== */

/* ========== ICON ========== */

/* ========== ICON COLLAPSE ========== */

/* ========== ICON ROTATE ========== */